<head>
    <title>
        {% if page.title %}{{ page.title | escape }} &middot; {% endif %}{{ site.title | escape }}
    </title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,600|Playfair+Display">
    <link rel="stylesheet" type="text/css" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
</head>