<section id="about" class="section section--dark about">
    <div class="section__container">
		<h2>About Me</h2>
		<p>I live to tell a scary story; my fascination with the dark and creepy began as soon as I began to read, and it wasn't long before I was crafting my own tales of the macabre.</p>
		<p>But it wasn't until NaNoWriMo of 2010 that I actually finished a complete novel. And after stumbling upon <a href="http://www.wattpad.com/YvetteRussell">Wattpad</a>, I decided to share it with the world. The rest… well, kind of got out of hand. After amassing millions of reads on the site, I realized that maybe writing wasn't just a hobby anymore.</p>
		<p>When I'm not writing, or drawing, or coding &mdash; well, okay, I'm probably making <em>something</em>. I live in Vancouver, Canada with my cat, where I get my power from the rain and the gloom.</p>
	</div>
</section>

<section id="footer" class="section section--dark section--tight footer">
    <div class="section__container">
	    {% include social.html %}

		<p class="u-text-center u-text-sm">All art and content is &copy; copyright Yvette Russell, unless otherwise stated.</p>
	</div>
</section>