<section id="profile-links" class="section section--dark profile-links">
    <div class="section__container section--wide">
        <h2>Where to Find Me</h2>

        <ul class="grid">
        
            <li class="grid__item">
                <a class="bucket" href="http://www.wattpad.com/yvetterussell">
                    <h3 class="bucket__title">Wattpad</h3>

                    <p>Check out my stories, including the complete novels <em>The Other Side</em> and <em>At Death's Door</em>. Follow me for the latest updates on my current ongoing series!</p>

                    <span class="bucket__button button">
                        Start Reading
                    </span>
                </a>
            </li>

            <li class="grid__item">
                <a class="bucket" href="http://www.patreon.com/yvetterussell">
                    <h3 class="bucket__title">Patreon</h3>
                    <p>Like my writing? Help support it! For a small monthly donation, you get exclusive access to content such as <em>early chapters</em>, <em>book covers</em>, <em>illustrations</em>, and more!</p>

                    <span class="bucket__button button">
                        Support My Work
                    </span>
                </a>
            </li>
            
        </ul>
    </div>
</section>