<ul class="social">
    <li class="social__item">
        <a href="https://www.wattpad.com/yvetterussell" class="social__link">
            {% include icon.html icon="social-wattpad" iconSize="icon--small" %}
        </a>
    </li>
    <li class="social__item">
        <a href="https://patreon.com/yvetterussell" class="social__link">
            {% include icon.html icon="social-patreon" iconSize="icon--small" %}
        </a>
    </li>
    <li class="social__item">
        <a href="https://twitter.com/yvetterussell" class="social__link" target="_blank">
            {% include icon.html icon="social-twitter" iconSize="icon--small" %}
        </a>
    </li>
    <li class="social__item">
        <a href="https://www.instagram.com/authoryvetterussell/" class="social__link">
            {% include icon.html icon="social-instagram" iconSize="icon--small" %}
        </a>
    </li>
    <li class="social__item">
        <a href="https://www.facebook.com/AuthorYvetteRussell" class="social__link">
            {% include icon.html icon="social-facebook" iconSize="icon--small" %}
        </a>
    </li>
</ul>