.about {
	background: $purple-xd
		url(/assets/section-break--about.jpg)
		top center
		repeat-x;
	background-size: 1600px auto;

	// Drop Cap
	// --------

	p:first-of-type:first-letter {
		float: left;
		margin: -8px 8px 0 0;

		font-size: 72px;
		font-family: $text-font-display;
		line-height: $text-line-xs;
		color: $aqua;
	}
}