.intro {
	padding-bottom: 120px;
	background: #caf4e6
		url(/assets/section-break--intro.jpg)
		bottom center
		repeat-x;
	background-size: 1600px auto;

	@include mobile {
		background-size: 800px auto;
	}
}

.intro__heading {
	max-width: 320px;
	margin: 0 auto;

	color: $aqua-dk;
	text-align: center;
	font-family: $text-font-display;
	font-size: $text-size-xl;
	line-height: $text-line-sm;
}

.intro__logo {
	display: block;
	margin: 0 0 $space-md;

	img {
		width: 32px;
		height: 32px;
	}
}

.intro__title {
	display: inline;
}

.intro__blurb {
	max-width: 480px;
	margin: 0 auto;
	margin-top: $space-md;

	p {
		margin-bottom: $space-md;
	}
}