.profile-links {
	min-height: 50vh;

	background: $purple-xd
		url(/assets/section-break--social.jpg)
		top center
		repeat-x;
	background-size: 1600px auto;

	@include mobile {
		background-size: 800px auto;
	}
}

.books {
	min-height: 50vh;

	background: $purple-dk
		url(/assets/section-break--books.jpg)
		top center
		repeat-x;
	background-size: 1600px auto;

	@include mobile {
		background-size: 800px auto;
	}
}