.bucket {
	display: block;
	padding: $space-xl;

	text-align: center;

	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.bucket__thumb {
	float: left;

	display: block;
	max-width: 40%;
	margin-left: -$space-xxl;
	margin-right: $space-xl;

	border: 2px solid $aqua-lt;

	img {
		display: block;
		width: 100%;
	}

	@include mobile {
		float: none;
		margin: -$space-xxl auto $space-xl;
	}
}

.bucket__button {
	margin-top: $space-md;
}