.button {
	display: inline-block;
	padding: $space-sm $space-md;

	border: 2px solid $aqua-lt;
	background: transparent;

	color: $aqua-dk;
	text-align: center;
	font-family: $text-font-body;
	font-size: $text-size-sm;
	font-weight: $text-weight-bd;
	line-height: $text-line-sm;
	letter-spacing: $text-space-lg;
	text-transform: uppercase;

	& + & {
		margin-left: $space-xs;
	}
}