.categories {
	margin-top: $space-lg;
	margin-bottom: $space-lg;
}

.category {
	display: inline-block;
	padding: $space-xs $space-sm;

	background: $purple-xd;

	font-size: $text-size-sm;
	line-height: $text-line-sm;

	& + & {
		margin-left: $space-xs;
	}
}