// Grid
// ----

.grid {
    height: 100%;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-flow: row wrap;
    // align-items: center;
    justify-content: space-between;
}

.grid__item {
    margin-top: $space-lg;
    width: 48%;

    @include mobile-portrait {
        width: auto;
    }
}
