.section {
	padding: $space-xxl 0;

	&.section--tight {
		padding: $space-lg 0;
	}
}

.section__container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 $space-lg;

    &.section--wide {
	    max-width: 960px;
    }
}


// Colour Schemes
// ==============

.section--aqua {
	background-color: $aqua;

	.button {
		border-color: $aqua-lt;
		color: $aqua-xd;
	}
}

.section--dark {
	background: $purple-xd;

	color: $purple-lt;

	h2 {
		color: $purple-xl;
	}

	h3 {
		color: $aqua;
	}

	em,
	strong {
		color: $purple-xl;
	}

	.bucket {
		background: rgba($purple-dk,0.4);
	}

	.button {
		border-color: $purple;
		color: $aqua-lt;
	}
}

.section--purple {
	background: $purple-dk;

	color: $purple-lt;

	h2 {
		color: $purple-xl;
	}

	h3 {
		color: $aqua;
	}

	em,
	strong {
		color: $purple-xl;
	}

	.bucket {
		background: rgba($purple-xd,0.6);
	}

	.button {
		border-color: $aqua;
		color: $aqua-lt;
	}
}