// Typography
// ==========

body {
	color: $purple-dk;
	font-weight: 400;
	font-family: $text-font-body;
	font-size: $text-size-md;
	line-height: $text-line-md;
}

p {
	margin-bottom: $space-md;
}

b, strong {
	font-weight: $text-weight-bd;
}

i, em {
	font-style: italic;
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: inherit;
}


// Headings
// --------

h1 {
	text-align: center;
	font-family: $text-font-display;
	font-size: $text-size-xl;
	line-height: $text-line-sm;
}

h2 {
	margin: 0 0 $space-xl;
	
	text-align: center;
	font-family: $text-font-body;
	font-size: $text-size-md;
	// font-weight: $text-weight-bd;
	line-height: $text-line-sm;
	letter-spacing: $text-space-xl;
	text-transform: uppercase;
}

h3 {
	margin: 0 0 $space-md 0;

	text-align: center;
	font-family: $text-font-display;
	font-size: $text-size-lg;
	line-height: $text-line-sm;
}


// Utilities
// ---------

.u-text-center {
	text-align: center;
}

.u-text-sm {
	font-size: $text-size-sm;
}