// Spacing
// ======

$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 40px;
$space-xxl: 60px;


// Colour
// ======

	$aqua-lt: #EDFFF9;
$aqua: #ADF0D9;
	$aqua-dk: #6BAD9C;
	$aqua-xd: #3C907A;

	$purple-xl: #CEC6E2;
	$purple-lt: #9F95B7;
$purple: #837C93;
	$purple-dk: #62567E;
	$purple-xd: #351c24;


// Typography
// ==========

$text-size-sm: 14px;
$text-size-md: 16px;
$text-size-lg: 24px;
$text-size-xl: 32px;
$text-size-xxl: 40px;

$text-line-xs: 1;
$text-line-sm: 1.15;
$text-line-md: 1.5;

$text-weight-md: 400;
$text-weight-bd: 600;

$text-space-md: 0;
$text-space-lg: 0.2rem;
$text-space-xl: 0.5rem;

$text-font-display: 'Playfair Display', 'Didot', sans-serif;
$text-font-body: 'Montserrat', 'Avenir', sans-serif;