<!DOCTYPE html>
<html>

{% include head.html %}

<body class="page" id="top">

{% include page-header.html %}

{% include profile-links.html %}

<section id="books" class="section section--purple books">
    <div class="section__container">
        <h2>My Books</h2>

        <!-- <ul class="grid"> -->
            {% for post in site.posts reversed %}
                <!-- <li class="grid__item"> -->
                    {% if post.linkURL %} 
                    <a class="bucket" href="{{ post.linkURL }}">
                    {% else %} 
                    <a class="bucket" href="{{ post.url | prepend: site.baseurl }}">
                    {% endif %}
                        <div class="bucket__thumb{% if post.thumbType %} thumb--{{ post.thumbType }}{% endif %}">
                            <img src="{{ post.thumbURL | prepend: site.baseurl }}" alt="{{ post.title }}" />
                        </div>

                        <h3 class="bucket__title">{{ post.title }}</h3>

                        {% if post.categories %}
                        <div class="categories">
                            {% for category in post.categories %}
                                <span class="category">{{ category }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <p>{{ post.excerpt }}</p>

                        <span class="bucket__button button">
                            {{ post.linkLabel }}
                        </span>
                    </a>
                <!-- </li> -->
            {% endfor %}
        <!-- </ul> -->
    </div>
</section>

{% include page-footer.html %}

</body>
</html>
