<!DOCTYPE html>
<html>
<head>
    <title>The Psychic Next Door by Yvette Russell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Raleway:300,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link href="/assets/tpnd/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <script src="/assets/tpnd/js/killHover.js"></script>
</head>
<body>

<section class="intro">
    <div class="container">
        <h1 class="intro__book-title">The Psychic <span class="u-line-break">Next Door</span></h1>
        <h2 class="intro__tagline">
            Featured on <span class="intro__tagline-wattpad">Wattpad</span> 
            <span class="u-line-break">
                with over <span class="intro__tagline-reads">four million</span> reads!
            </span>
            <a href="#buy-now" class="buy__link intro__buy-btn mobile-only">
                Buy Now
            </a>
        </h2>

        <div class="book">
            <a href="#buy-now" class="price">
                <span class="price__type">eBook</span>
                <span class="price__amount">
                    <span class="price__sign">$</span>
                    {{ page.bookPrice }}
                </span>
            </a>
            <div class="book__face">
                <img src="{{ page.thumbURL }}" class="book__face-image" alt="The Psychic Next Door">
            </div>
        </div>

        <div class="blurb">
            <h2 class="blurb__heading">{{ page.tagline }}</h2>
            <div class="blurb__content">
                {{ content }}
            </div>
        </div>
    </div>
</section>
<section id="buy-now" class="buy">
    <div class="container">
        <ul class="buy__list buy--ebook">

            <li class="buy__heading">
                <h2>Buy <span class="heading--alt">the</span> eBook</h2>
            </li>

            {% if page.link_EB_iBooks %}
            <li class="buy__item">
                <a href="{{ page.link_EB_iBooks }}" class="buy__link">
                    iBooks
                </a>
            </li>
            {% endif %}

            {% if page.link_EB_Kobo %} 
            <li class="buy__item">
                <a href="{{ page.link_EB_Kobo }}" class="buy__link">
                    Kobo
                </a>
            </li>
            {% endif %}

            {% if page.link_EB_AmzUS %} 
            <li class="buy__item">
                <a href="{{ page.link_EB_AmzUS }}" class="buy__link">
                    Amazon US
                </a>
            </li>
            {% endif %}

            {% if page.link_EB_AmzCA %} 
            <li class="buy__item">
                <a href="{{ page.link_EB_AmzCA }}" class="buy__link">
                    Amazon CA
                </a>
            </li>
            {% endif %}

            {% if page.link_EB_AmzUK %} 
            <li class="buy__item">
                <a href="{{ page.link_EB_AmzUK }}" class="buy__link">
                    Amazon UK
                </a>
            </li>
            {% endif %}

            {% if page.link_EB_Nook %} 
            <li class="buy__item">
                <a href="{{ page.link_EB_Nook }}" class="buy__link">
                    Nook
                </a>
            </li>
            {% endif %}

        </ul>
        <ul class="buy__list buy--paperback">
            <li class="buy__heading">
                <h2>Buy <span class="heading--alt">the</span> Paperback</h2>
            </li>

            {% if page.link_PB_Lulu %} 
            <li class="buy__item">
                <a href="{{ page.link_PB_Lulu }}" class="buy__link">
                    Lulu
                </a>
            </li>
            {% endif %}

            {% if page.link_PB_AmzUS %} 
            <li class="buy__item">
                <a href="{{ page.link_PB_AmzUS }}" class="buy__link">
                    Amazon US
                </a>
            </li>
            {% endif %}

            {% if page.link_PB_AmzCA %} 
            <li class="buy__item">
                <a href="{{ page.link_PB_AmzCA }}" class="buy__link">
                    Amazon CA
                </a>
            </li>
            {% endif %}

            {% if page.link_PB_AmzUK %} 
            <li class="buy__item">
                <a href="{{ page.link_PB_AmzUK }}" class="buy__link">
                    Amazon UK
                </a>
            </li>
            {% endif %}

            {% if page.link_PB_Barnes %} 
            <li class="buy__item">
                <a href="{{ page.link_PB_Barnes }}" class="buy__link">
                    Barnes &amp; Noble
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</section>
<section class="sample">
    <div class="container">
        <div class="chapter sample--chapter1">
            <h2 class="chapter__heading">
                <span class="chapter__number">Chapter 1</span>
                Homeless
            </h2>
            <div class="chapter__content">
                <p><span class="chapter__first-line">Every inch of my body ached.</span> The dull twinge of pain surged through me, starting from the centre of my chest then pushing outwards like a wave. It travelled with my pulse until it reached the tips of my fingers and toes, then it&rsquo;d repeat. And every time I felt like I was drowning, being pulled under the waves as they washed over me again, and again, and again.</p>
                <p>He stared out at me from the screen of my phone, that familiar smile plastered across his stupid face, his name&mdash;Rick&mdash;emblazoned above. He was trying to call me, again, but I wasn&rsquo;t going to answer. There was no way I could, even if I wanted to&hellip; I froze whenever I saw his face. It physically hurt to look at him, even if it was just a picture.</p>
                <p>My rational half reminded me that I was being melodramatic, and, to be honest, it was right&hellip; but love was not a rational thing. My heart was a completely separate entity from my head. Even though my rational self told me to get over it, my heart hurt, and there was nothing my head could say to change that.</p>
                <div class="sample__offer">
                    <a href="{{ page.link_Sample }}" class="sample__link">Download a Preview</a>
                    <p class="sample__description">Read the first three chapters! (.epub)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="author">
    <div class="container">
        
    </div>
</section> -->
<section class="footer">
    <div class="container">
        <p>&copy; 2015 Yvette Russell</p>
        <a href="/">Back to YvetteRussell.com</a>
    </div>
</section>

</body>
</html>